name: Prettier Formatting

on:
  push:
    branches: [ "master", "develop" ]
  pull_request:
    branches: [ "master", "develop" ]

jobs:
  check-format:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
    - name: Install dependencies
      run: npm i
    - name: Check formatting using prettier
      run: npm run check-format
